.graph {
  align-items: center;
}

.td {
  position: relative;
  padding: 0;
  border: 2px solid #fff;
}

.table {
  min-width: fit-content;
  border-spacing: 0;
  overflow: hidden;
}

.th {
  font-weight: normal;
}
